---
title: "High Volume, High Speed, Low Resistance - Final Test Result"
author: "Mark Forster"
date: 2017-07-17
categories: ['Articles']
original_url: "http://markforster.squarespace.com/blog/2017/7/17/high-volume-high-speed-low-resistance-final-test-result.html"
layout: post
---

I think I’ve proved to myself that this method really does work.

Bear in mind that I was trying to find a way of processing a “catch-all” list without ending up with a huge number of tasks spread over many pages of notebook.

Well, have look at these results after nine days of using my new method.

The first column is the page number, and the second is the number of tasks remaining on that page. There are 31 tasks to the page.

1 - 0

2 - 0

3 - 0

4 - 0

5 - 0

6 - 0

7 - 0

8 - 0

9 - 0

10 - 0

11 - 0

12 - 0

13 - 0

14 - 0

15 - 0

16 - 0

17 - 0

18 - 0

19 - 7

20 - 8

21 - 25 (out of 25)

Total tasks actioned: 630

Total tasks unactioned: 40

I’ve been working on about 70 tasks a day, and the number of tasks on the list has remained pretty well constant at 40-45. Futhermore the list, far from spreading over more and more pages, has compacted itself down to only three pages. I should mention too that the seven tasks on p. 19 are all once-a-day-only tasks waiting for tomorrow.


## Comments

---

**Author:** Tommy
**Date:** 2017-07-17

Forgive my ignorance. I can not find the method instructions, has this been made public?

---

**Author:** Mark Forster
**Date:** 2017-07-18

Tommy:  
  
No, not yet.

---

**Author:** Paul MacNeil
**Date:** 2017-07-18

Do you mean the 7 tasks on pg. 19?

---

**Author:** Sobertruth
**Date:** 2017-07-18

Eagerly awaiting the instructions, especially if the method incorporates the theory you wrote about in another comment:  
"My theory is that a properly handled and practised list removes the need for prioritization, goal-setting, planning and deadline-chasing - real “autofocus” in other words."  
  
Unless I have misinterpreted the comment chain, and this theory is not applicable to the system you are working on at present.  
  
A method that removes this issues, for the most part, would truly be a game-changer.

---

**Author:** Tommy
**Date:** 2017-07-18

Mark,  
Sorry! Don't mean to sound pushy. Just wasn't sure. Thank you for making your ideas available to us!

---

**Author:** Mark Forster
**Date:** 2017-07-18

Paul MacNeil:  
  
I do! Thanks for pointing it out. I will correct it.

---

**Author:** Mark Forster
**Date:** 2017-07-18

Sobertruth:  
  
<< A method that removes these issues, for the most part, would truly be a game-changer. >>  
  
It's intended to be, yes. Though of course I cannot guarantee that it will work as well for other people as it does for me.

---

**Author:** Nicole
**Date:** 2017-07-18

Any idea when and where you will be publishing the instructions for this new method? I'm experimenting myself with getting FVP to work for me, and I could use some guidance on how to overcome list resistance, so I would be curious to know how you handled that with your new method.

---

**Author:** Mark Forster
**Date:** 2017-07-18

Nicole:  
  
Not long now I think.

---

**Author:** Theo
**Date:** 2017-07-18

> Not long now I think.  
That would be awesome! :)

---

**Author:** Paul MacNeil
**Date:** 2017-07-18

I hope its somewhere on pg. 20 or 21.

---

**Author:** Mark Forster
**Date:** 2017-07-18

21

---
